html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.logo{
  text-align: center;
  background-color: #85C1E9 ;
  color: #330099 ;
  padding: 0.5em;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

#character-bar {
  height: 15vh;
  background: #5499C7 ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

#character-bar span {
  padding: 1%;
  height: 50%;
  width: 15vw;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 0.5em;
  border: 0.2px solid white;
  background:#CFD8DC;
 
}

#character-bar span:hover{
  background-color: #F2F4F4 ;
}



.characterInfo{
   height: 70vh; 
  padding: 30px;
  font-size: 24px;
  /* border: dotted; */
  text-align: center;
  background:  #1B4F72 ;

}

input[type="submit"], button {
  background-color: rgb(49, 109, 179);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
  font-size: 3vh;
}

#image{
  width: 300px;
  height: 300px;
}
.navbar-brand {
 padding-right: 350px;
}
.nav-item {
  padding-right: 200px;
}